# format files
*.meta
*.unity
*.prefab
*.anim
*.PNG

# folders under Assets
Assets/BayatGames
Assets/Font
Assets/Scenes

# distinct files under Assets
Assets/Weapons/Landmine.controller
Assets/Camera\ function/MiniMap\ render\ texture.renderTexture

# folders under main
.vs
Launch\ the\ rocket_Data
Library
Logs
MonoBleedingEdge
obj
Packages
ProjectSettings

# files under main
.collabignore
Assembly-CSharp.csproj
Launch\ the\ rocket.exe
Launch\ the\ rocket.sln
UnityCrashHandler64.exe
UnityPlayer.dll
