# format files
*.meta
*.anim
*.PNG
*.prefab

# folders under Assets
Assets/BayatGames
Assets/Font
Assets/Scenes

# folders under GameServer
GameServer/bin
GameServer/obj
GameServer/.vs

# distinct files under Assets
Assets/Weapons/Landmine.controller
Assets/Camera\ function/MiniMap\ render\ texture.renderTexture

# folders under main
.vs
Launch\ the\ rocket_Data
Library
Logs
MonoBleedingEdge
obj
Packages
ProjectSettings
Temp

# files under main
.collabignore
Assembly-CSharp.csproj
Launch\ the\ rocket.exe
Launch\ the\ rocket.sln
UnityCrashHandler64.exe
UnityPlayer.dll
